<!doctype html>

<head>
<link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
<script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>

<script type="text/javascript">
$(function() {
    $("#autocomplete").autocomplete({
        source:function(request, response) {
            $.getJSON("http://localhost:5000/search",{
                input: request.term, // in flask, "input" will be the argument to look for using request.args
            }, function(data) {
                response(data.results); // matching_results from jsonify
            });
        },
        minLength: 1,
        select: function(event, ui) {
            console.log(ui.item.value); // not in your question, but might help later
        }
    });
})

</script>
</head>
<body>
	<h3 style="text-align:center">Welcome to the World of Fuzzy Search</h3>
    <div style="text-align:center">
        <input name="autocomplete" type="text" id="autocomplete" class="form-control input-lg" placeholder="Enter text">
    </div>
</body>




<!-- <html>
   <body>
      <form action = "http://127.0.0.1:5000/search" method = "get">
         <p>input <input type = "text" name = "input" /></p>
         <p><input type = "submit" formmethod="get" value = "submit" /></p>
      </form>
   </body>
</html> -->